

html
{
    font-size: 100%;
    min-height: 100%;
    box-sizing: border-box;
}

body
{
    font-family: 'Raleway', sans-serif;
    color: #00060d;
    min-height: 100vh;
}

section #bienvenida, section #procedimiento, section #video
{
    min-height: 100vh;
    margin: 100px auto;
}

h1,h2,h3,h4,h5,h6
{
    font-family: 'bebas_neue_regularregular';
    text-transform: uppercase;
    color: #00060d;
}

.titulos{
	font-family: 'bebas_neuebold';
    text-transform: uppercase;
    color: #00060d;
}

.subtitulos{
	font-family: 'bebas_neuelight';
    text-transform: uppercase;
    color: #00060d;
}
.logo-slider
{
    width: 25%;
    background: #f2f2f2;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    z-index: 1000;
}

/* custom */

.tab-bar
{
    background: #00060d;
}

.tab-bar h1, .tab-bar h2, .tab-bar h3, .tab-bar h4
{
    font-family: 'bebas_neue_regularregular';
    text-transform: uppercase;
}

.right-off-canvas-menu
{
    background: #00060d;
}

.right-small
{
    border-left: 1px solid rgba(0,0,0,0.5);
}

ul.off-canvas-list li label
{
    font-family: 'bebas_neue_regularregular';
    background: #00060d;
    border-top: 1px solid #00060d;
    color: #fff;
}

ul.off-canvas-list li a
{
    color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

ul.off-canvas-list li a:hover
{
    background: #00aef1;
}

/* orbit slider */

.orbit-slides-container
{
    background: #afdbe6;
}

.orbit-container .orbit-prev, .orbit-container .orbit-next
{
    transition: all 0.3s ease;
}

.orbit-container .orbit-prev:hover, .orbit-container .orbit-next:hover
{
    background-color: rgba(0, 6, 13, .9);
}

.orbit-container .orbit-slides-container > * .orbit-caption
{
    background-color: rgba(0, 6, 13, 0.9);
}

.orbit-bullets li
{
    background: #00060d;
    transition: all 0.3s ease;
}

.orbit-bullets li:hover, .orbit-bullets li:focus
{
    background: #7bcff1;
}

.orbit-bullets li.active
{
    background: #00aef1;
}

