

html
{
    font-size: 100%;
    min-height: 100%;
    box-sizing: border-box;
}

body
{
    font-family: 'Raleway', sans-serif;
    color: #00060d;
    min-height: 100vh;
}

section{
	min-height:100vh;
    margin:100px auto;
}

h1,h2,h3,h4,h5,h6
{
    font-family: 'bebas_neue_regularregular';
}

.logo-slider
{
    width: 25%;
    background: rgba(0,6,13.0.5);
    position: absolute;
    top: 20px;
    z-index: 1000;
}

